<div class="my__modal" [ngClass]="[darkMode.isActive ? darkMode.cssClass : '']">
    <div class="container-fluid">
        <div class="row">
            <div class="modal__card col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4 mx-auto mt-5 p-4 rounded">
                <div class="mb-4 d-flex justify-content-between">
                    <h1 class="fs-5">{{ question }}</h1>
                    <button type="button" class="btn-close" (click)="closeModal()"></button>
                </div>
                <div class="text-end">
                    <button type="button" class="me-3 btn btn-secondary" (click)="closeModal()">Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="removeBook(bookId!)">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>