<footer class="app__footer container-fluid d-flex justify-content-around align-items-center" [ngClass]="[darkMode.isActive ? darkMode.cssClass : '']">    
    <div>
        <a class="fs-1" href="https://github.com/Luega?tab=repositories" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
    </div>
    <div>
        <a class="fs-1" href="https://www.linkedin.com/in/martinelliluca/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
    </div>
</footer>
