<div class="container-fluid">
    <h1 *ngIf="!bookToEdit">Add a new Book</h1>
    <h1 *ngIf="bookToEdit">Edit the Book</h1>
    <form [formGroup]="bookForm" (submit)="onSubmit()">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" formControlName="title">
            <p *ngIf="!bookForm.get('title')?.value && bookForm.get('title')?.touched">
                Title is required
            </p>
        </div>
        <div>
            <label for="author">Author</label>
            <input type="text" id="author" formControlName="author">
            <p *ngIf="!bookForm.get('author')?.value && bookForm.get('author')?.touched">
                Author is required
            </p>
        </div>
        <div>
            <label for="genre">Genre</label>
            <select id="genre" formControlName="genre">
                <option *ngFor="let genre of bookGenresArray; let i = index" value={{i}}>{{genre}}</option>
            </select>
            <p *ngIf="!bookForm.get('genre')?.value && bookForm.get('genre')?.touched">
                Genre is required
            </p>
        </div>
        <div>
            <label for="pageCount">Pages</label>
            <input type="number" id="pageCount" formControlName="pageCount">
            <p *ngIf="!bookForm.get('pageCount')?.value && bookForm.get('pageCount')?.touched">
                Pages is required
            </p>
        </div>
        <div>
            <label for="price">Price</label>
            <input type="number" id="price" formControlName="price">
            <p *ngIf="!bookForm.get('price')?.value && bookForm.get('price')?.touched">
                Price is required
            </p>
        </div>
        <div>
            <label for="publishDate">Publication date</label>
            <input type="date" id="publishDate" formControlName="publishDate">
            <p *ngIf="!bookForm.get('publishDate')?.value && bookForm.get('publishDate')?.touched">
                Publication date is required
            </p>
        </div>
        <button type="submit" [disabled]="!bookForm.valid">{{ bookToEdit ? 'Edit' : 'Add' }}</button>
    </form>
</div>
