
<div *ngIf="books.length > 0" class="container-fluid w-75">
    <div class="row m-auto">
        <app-message *ngIf="messageService.message" [message]="messageService.message"/>
    </div>
    <div class="row justify-content-end">
        <button class="btn btn-primary" role="button" [routerLink]="['/books/add']">
            Add
        </button>
    </div>
    <div class="row">
        <app-book-card *ngFor="let b of books" [book]="b" (bookRemoved)="onBookRemoved($event)" />
    </div>
</div>

<!-- <div *ngIf="books.length === 0 || !books" class="container-fluid">
    <div class="row">
        <h2>No Books</h2>
    </div>
</div> -->
