<div class="container-fluid">
    <app-message *ngIf="messageService.message" [message]="messageService.message"/>

    <form [formGroup]="loginForm" (submit)="onSubmit()" [ngClass]="[darkMode.isActive ? darkMode.cssClass : '']"> 
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" formControlName="username">
            <p *ngIf="!loginForm.get('username')?.valid && loginForm.get('username')?.touched">
                Username is required
            </p>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="text" id="password" formControlName="password">
            <p *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.touched">
                Password is required
            </p>
        </div>
        <button type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>
</div>
